05_XML&MyBatis/01_web/WebContent/20160802/hw.dtd

<?xml version="1.0" encoding="UTF-8"?>

	<!ELEMENT employee (emp)+ >
	<!ELEMENT emp (empno, ename, sal, addrs*, deptno) >
	<!ELEMENT empno (#PCDATA) >
	<!ELEMENT ename (#PCDATA) >
	<!ELEMENT sal (#PCDATA) >
	<!ELEMENT addrs (#PCDATA) >
	<!ELEMENT deptno (#PCDATA) >
	
	<!ATTLIST emp age CDATA #IMPLIED >
	<!ATTLIST empno grade (A|B|C|D|F) "F" >
	<!ATTLIST addrs loc CDATA #IMPLIED >