05_XML&MyBatis/01_web/WebContent/20160802/xml05.dtd

<?xml version="1.0" encoding="UTF-8"?>

	<!ELEMENT department (dept)+> 
	<!--
	default : 1번만 사용
	+ : 1개 이상 
	* : 0개 이상
	? : 0 또는 1개
	A|B : A 또는 B 둘 중에 하나만 가능
	() : 요소를 그룹으로 선언하여 정의
	-->
	<!ELEMENT dept (deptno, dname, loc)>
	<!ELEMENT deptno (#PCDATA)>
	<!ELEMENT dname (#PCDATA)>
	<!ELEMENT loc (#PCDATA)>
